@import "tailwindcss";
@plugin "daisyui";

.font-header {
  font-family: "Sixtyfour Convergence", sans-serif;
}

.font-subtitle {
  font-family: "Sono", sans-serif;
}

.font-sans {
  font-family: sans-serif;
}

.font-serif {
  font-family: serif;
}

.font-mono {
  font-family: "Victor Mono", monospace;
}
